extend ./layout/common

block head
    link(rel='stylesheet' href="/styles/cart.css")
    <title>Cat Lovers</title>
block header 
    .container-fluid.header.d-flex.align-items-center.justify-content-start 
        .container.d-flex-column.align-items-center.wrapper.h-100
            h1.text-center.mb-5 You picked
            .d-flex.justify-content-center 
                .summary.mx-5 
                    h3=amount
                    span=(amount > 1 ? 'bosses' : 'boss')
                .summary.mx-5
                    h3='$'+total
                    span in total
block content
    script
        include ./scripts/header.js