doctype html
html(lang="en")
  head
    title Login Form In Pug
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href="/style.css")
  body
    #main
     form(method="POST",action="/auth")
       div.label Login Form
       div.username
        input(type="text" placeholder="Enter your username" name="username")
       div.password
        input(type="password" placeholder="Enter your password" name="password")
       div.checkbox
        input(type='checkbox' name='agreement' checked)
        |Remember me
       button(type="submit") Login