body {
	background-image: url("/bg.jpg");
	padding: 0;
	margin: 0px;
	font-family: "Lato", sans-serif;
}

#main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

form {
	background-color: rgba(60, 89, 107, 0.63);
	width: 40%;
	padding: 30px;
}

.username input,
.password input {
	width: 100%;
	height: 40px;
	border: 0px;
	margin: 5px 5px 15px;
	box-sizing: border-box;
	padding: 15px 15px;
}

input:focus,
button:focus {
	outline: none;
}

button {
	background: #63cdda;
	color: #fff;
	border: 0px;
	width: 100%;
	padding: 10px;
	margin: 5px;
	font-size: 24px;
	cursor: pointer;
}

.checkbox {
	color: #fff;
	padding-bottom: 10px;
}

h3 {
	font-size: 24px;
	text-align: center;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 10px;
}

p {
	text-align: center;
	color: #fff;
	text-transform: capitalize;
}

.fa {
	float: left;
	font-size: 18px;
}

a {
	padding-left: 5px;
	text-decoration: none;
	color: #63cdda;
	text-transform: capitalize;
}

a:hover {
	text-decoration: underline;
}

.label {
	font-size: 40px;
	text-align: center;
	color: #fff;
	padding-bottom: 15px;
	text-transform: capitalize;
}
